In [17]:
import pandas as pd
gzmt=pd.read_csv(R'600519.csv')

In [18]:
gzmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4094 entries, 0 to 4093
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         4094 non-null   object
 1   STOCK_CODE  4094 non-null   int64
 2   open        4094 non-null   float64
 3   close       4094 non-null   float64
 4   maximum     4094 non-null   float64
 5   minimum     4094 non-null   float64
 6   volume      4094 non-null   int64
 7   TURNOVER    4094 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 256.0+ KB

In [19]:
gzmt.describe()

,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
count,4094.0,4094.000000,4094.000000,4094.000000,4094.000000,4094.000000,4.094000e+03
mean,6005191.0,182.161910,182.435230,184.879680,179.801353,27092.525892,6.487986e+08
std,0.0,165.857882,165.994905,168.082099,163.752065,24623.472099,9.550262e+08
min,6005191.0,20.900000,20.880000,21.000000,20.710000,238.000000,1.421413e+06
25%,6005191.0,47.405000,47.482500,48.222500,46.705000,10186.750000,6.203505e+07
50%,6005191.0,159.930000,159.980000,161.910000,157.875000,22491.000000,3.727192e+08
75%,6005191.0,208.500000,209.457500,212.175000,205.945000,36759.500000,7.486596e+08
max,6005191.0,800.000000,799.190000,803.500000,788.880000,406318.000000,1.066339e+10

In [20]:
gzmt[['open','close']].describe()

              open        close
count  4094.000000  4094.000000
mean    182.161910   182.435230
std     165.857882   165.994905
min      20.900000    20.880000
25%      47.405000    47.482500
50%     159.930000   159.980000
75%     208.500000   209.457500
max     800.000000   799.190000

In [21]:
result = gzmt['open'].unique()

In [22]:
result = gzmt.close.value_counts()

In [23]:
df=pd.DataFrame({
    "name":["A","B","C","B","C","A","C"],
    "value":[1,3,7,2,4,3,1]
})
df.groupby("name")["value"].sum()

name
A     4
B     5
C    12
Name: value, dtype: int64

In [24]:
import pandas as pd  
  
data={'姓名':['张三','李四','王五','赵六','孙七'],  
      '年龄':[18,19,20,18,19],  
      '班级':["一班",'一班','二班','二班','一班'],  
      '成绩':[90,85,78,92,88]}  
  
df=pd.DataFrame(data)  
  
def average_score(group):  
    print(group)
    # return group['成绩'].mean()  
  
result=df.groupby('班级')['成绩'].apply(average_score)  
print(result)

0    90
1    85
4    88
Name: 一班, dtype: int64
2    78
3    92
Name: 二班, dtype: int64
班级
一班    None
二班    None
Name: 成绩, dtype: object

In [ ]:
result=df.groupby('班级')['成绩'].min()